<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Seedling Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Plant Seedling Classification</h1>
    </header>
    <div class="content">
        <p class="description">Use the app to classify your plant seedling images into their respective categories. Simply upload an image and get the results!</p>
        <a href="/Prediction" class="button">Go to Prediction Page</a>
    </div>
</body>
</html>
