<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Seedling Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='prediction.css') }}">
</head>
<body>
    <header>
        <h1>Plant Seedling Classification Prediction</h1>
    </header>
    <div class="content">
        <h2>Upload an Image for Classification</h2>
        <form action="/predict" method="POST" enctype="multipart/form-data">
            <input type="file" name="img" required>
            <button type="submit" class="button">Upload and Predict</button>
        </form>
        {% if z %}
        <h3 class="result">{{ z }}</h3>
        {% endif %}
    </div>
    <a href="/" class="button back">Back to Home</a>
</body>
</html>
